<div class="pageTitle">Sign up</div>
<div class="pageTitle">
    <a routerLink="/">Go back to homepage</a>
  </div>
<form class="pageBody d-flex flex-column">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Choose your username</label
    >
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="Type your username here"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput2" class="form-label"
      >Choose a password</label
    >
    <input
      type="password"
      class="form-control"
      id="exampleFormControlInput2"
      placeholder="Type your password here"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput3" class="form-label"
      >Confirm your password</label
    >
    <input
      type="password"
      class="form-control"
      id="exampleFormControlInput3"
      placeholder="Confirm your password here"
    />
  </div>
  <div class="d-flex flex-column signupLink">
    <button type="submit" class="btn btn-primary">Submit</button>
    <a routerLink="/sign-in">Already registered ? Sign in here.</a>
  </div>
</form>
