<div class="container d-flex justify-content-between align-items-center py-2">
  <a
    class="bucketListLogo"
    routerLink="/"
    [ngClass]="{ bucketListLogoLink: router.url !== '/' }"
  >
    <i class="bi bi-clipboard"></i>
    Bucket List ideas
  </a>
  <div class="d-flex flex-row">
    <div *ngIf="router.url != '/form'">
      <button
        routerLink="/form"
        type="button"
        class="btn btn-outline-primary"
        style="margin-right: 10px;"
      >
        Create an idea
      </button>
    </div>
    <div>
        <button
          routerLink="/your-ideas"
          type="button"
          class="btn btn-outline-primary"
          style="margin-right: 10px;"
        >
          Your ideas
        </button>
      </div>
    <div *ngIf="router.url != '/sign-in' && router.url != '/sign-up'">
      <button
        routerLink="/sign-in"
        type="button"
        class="btn btn-outline-primary"
      >
        Sign in
      </button>
    </div>
  </div>
</div>
